@charset "utf-8";
/* CSS Document */

table {table-layout:fixed; width:70%}
td {width:50%; padding:0;}	
strong {font-size:20px;}

ul.affix {
	position: static; 
}
ul.affix-top {
	position: static;
}
ul.affix-bottom {
	position: static;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #e5e3e9;
}
.sidebar .nav > .active > a,
.sidebar .nav > .active:hover > a,
.sidebar .nav > .active:focus > a {
  font-weight: bold;
  color: #563d7c;
  background-color: transparent;
}


nav{
	width: 0px;
}

nav > *{
	display: none;
}


.nav.navbar-nav.navbar-right{
	padding-right: 20px;
}

.nav.navbar-nav.navbar-right a:hover, .nav.navbar-nav.navbar-right li.active a{
	color:#55B9FF;
	background-color: #222 !important;
}

.nav.navbar-nav.navbar-right li.active a{
	text-decoration: underline;
}

.nav.navbar-nav.navbar-right a{
	color:rgb(10,100,255);
}


html, body{
	height:100%;
}

.navbar-brand {
	padding: 5px 5px;
}

.navbar-brand img {
	width: 40px;
	opacity: 0.7;
}

.navbar-brand img:hover{
	opacity: 1;
}

/*header*/
.header {
	margin-top: 0;
	padding-top: 30px;
	font-size:60px;
}



#circle-hint {
	background-color: white;
	position: relative;
	top:-30px;
	width: 60px;
	height: 30px;
	border-radius: 30px 30px 0 0;
	margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#circle-hint span {
	position: relative;
	z-index: 5;
	font-size: 25px;
	margin-right: auto;
    margin-left: auto;
    padding-top: 5px;
}

#circle-hint span:hover {
	cursor: pointer;
}


/*home*/
#home {
	z-index:-10;
	position:fixed;
	/*position: absolute;*/
	top:0;
	left:0;	
	width: 100%;
	height: 100%;
}


#banner img{
	z-index: -5;
	position: fixed;
	bottom: 20%;
	width: 70%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}

.icons{
	display: none;
	z-index:0;
	bottom: 20%;
	left:35%;
}

.icons a{
	opacity:0.7;
}

.icons a:hover{
	opacity: 1;
}


/*stories panels*/

#story-blocks td{
	vertical-align: top;
}

.block {
	padding:10px; 
	padding-top:20px; 
}

.block-blue {
	/*background-color:#3BB9FF;*/
	background-color: #55B9FF
}

.block-black {
	background-color: #333;
}

.block-blue,.block-black p {
	color:white; 
}



/*collapse*/

#gallery-project {
	background: #333;
	-webkit-box-shadow: inset 0px 20px 40px -16px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 20px 40px -16px rgba(0,0,0,0.75);
	box-shadow: inset 0px 20px 40px -16px rgba(0,0,0,0.75);
}

.clear {
	margin:40px 0;
	padding:0 20px;
	text-align:left;
	align:center;
	clear:both;
	color: white;
	background-color: transparent;
	-webkit-box-shadow: inset 0px -23px 40px -16px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px -23px 40px -16px rgba(0,0,0,0.75);
	box-shadow: inset 0px -23px 40px -16px rgba(0,0,0,0.75);
}

.clear img {
	max-width:100%; 
	max-height:100%;
}


#collapse-container {
	display:none;
	padding-bottom: 30px;
}

#collapse img {
	max-width:100%;
	max-height:100%;
}


#cross-button {
	margin: 30px 40px;
	font-size:20px;
	-webkit-transition: all 0.4s; /* Safari */
    transition: all 0.4s;
}

#cross-button:hover{
	cursor: pointer;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);

}





/*my work gallary*/

.portfolio {
	float:left;
    width:200px;	
	height:220px;
	background-size:cover;
	position:relative;

}

div.portfolio a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 20; /* Places the link above everything else in the div */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}

.over {
	width:200px;
	height:220px;
	text-align:center;
	vertical-align:middle;
	display:table;
	position:absolute;
	color:transparent;
	z-index:10;
	backgrond-color:transparent;
	    /* For Safari 3.1 to 6.0 */
    -webkit-transition: color 0.4s, background-color 0.4s, text-shadow 0.4s;
    /* Standard syntax */
    transition:color 0.4s, background-color 0.4s, text-shadow 0.4s;
}

.over:hover {
	color:white;
	background-color:rgba(59,185,255,0.9);
}

.over h4{
	font-size: 20px !important;
	display: table-cell; 
	vertical-align: middle; 
	text-align: center; 

}
  
.over h4:hover{
	text-decoration: underline;
}



.blank-section {
	min-height: 100%;
	width: 100%;
	overflow: hidden;
	clear: both;
}

#content {
	background-color:white;
}

/* profile bg-image*/
#iDo{
	background-image:url(../image/iDo_GUI.jpg);
}

#extension {
	background-image:url(../image/extension.jpg);
}

#ninjaJump {
	background-image:url(../image/ninjaJump.jpg);
}

#busGuide {
	background-image:url(../image/bus_guide.jpg);
}


/*.col-md-6.template {float:left;}
*/
/*footer*/
#footer {
	margin-top: 60px;
	margin-bottom: 0;
	background-color:#101010;
	padding: 10px 0 10px 0;
}
