<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Alex Wang</title>
<link rel="stylesheet" type="text/css" href="libs/Bootstrap/css/bootstrap.min.css">
 <link href="css/custom.css" type="text/css" rel="stylesheet" />

 <!-- Google analytics -->
     <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-55115474-1', 'auto');
      ga('send', 'pageview');
    </script>

</head>



<body data-spy="scroll" data-target="#myNavbar">


<nav id="myNavbar"  class="navbar navbar-inverse navbar-fixed-top minimized" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="image/logo.png" ></img></a>
    </div>
    
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right" data-spy="affix" data-offset-top="10">
  		<li><a href="#blank-section">HOME</a></li>
  		<li><a href="#about">ABOUT</a></li>
  		<li><a href="#work">WORK</a></li>
      </ul>
   </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<!-- home -->
 <div id="home">
  <image src="image/wallpaper2.jpg" width="100%" height="100%">
 </div>

 <div id="banner">
  <image src="image/WebLogo.png">
 </div>
 
 <div class="icons">
 <ul class="list-inline">
    <li><a href="https://www.facebook.com/yichao.wang.148"><img src="image/icons/icn-facebook-intro.png" alt=""></img></a> </li>
    <li><a href="https://twitter.com/beyond2046"><img src="image/icons/icn-twitter-intro.png" alt=""></img></a> </li>
    <li><a href="https://plus.google.com/u/0/108226144780815726990/posts"><img src="image/icons/icn-gplus-intro.png" alt=""></img></a> </li>
    <li><a href="http://www.linkedin.com/profile/view?id=278636731&trk=nav_responsive_tab_profile"><img src="image/icons/icn-linkedin-intro.png" alt=""></img></a> </li>
    <li><a href="https://www.youtube.com/channel/UCMNV0Veh9aVjrotP642f-GA"><img src="image/icons/youtube-icon.png" alt=""></img></a> </li>
    </ul>
  </div>
 
<section id="blank-section" class="blank-section"></section>


 <!-- content -->
 <div id="content" class="col-md-16">  

<div id="circle-hint">
  <span class="glyphicon glyphicon glyphicon-chevron-down"></span>
</div>

 <!-- about -->
 <div id="about" align="center">
	<h1 class="header">SOMETHING ABOUT ME</h1>
	<p class="lead" style="color:grey">SOMETHING I CARE ABOUT, SOMETHING I'M GOOD AT</p>
	<hr width="20%" style="border-color:grey"><br>
 </div>
 
 
 <div id="story-blocks" align="center">
  <table><tr><td><img src="image/portrait.jpg" style="max-width:100%"></td>
   <td class="block block-blue">
    <p class="lead">I love design and programming</p>
     <p>Good design gives people colorful life and unexpected future</p>
     <p>A good designer should be able to design everything from a spoon to a city</d>
    </td>
  </tr>
  <tr>
    <td class="block">
        <p class="lead">My story</p>
        <p>I'm a creative designer and programmer with some experience in software development, product pitching, website design and system maintaning.</p>
        <p>I've worked on projects I care about and reached some results makes me proud.</p>
    </td>
    <td class="block block-black">
        <p class="lead">Programming</p>
        <p>Programming is a faith.</p>
    </td>
  </tr>
</table>
<br/>
<br/>
<br/>
<br/>

<div id="work" align="center" >
	<h1 class="header">MY WORK</h1>
	<p class="lead" style="color:grey">SOME PROJECTS ENGAGING ME</p>
	<hr width="20%" style="border-color:grey"><br>
</div>


<div id="gallery-project">
  <div class="clear">
    <div  id="collapse-container" class="container">
      <div id="cross-button-container" align="right">
        <span id="cross-button" class="glyphicon glyphicon-remove-circle hidden" ></span>
      </div>
      <div id="collapse">
      </div>
    </div>
  </div>
</div>

<div class="container">
	<div class="portfolio" id="iDo" >
    <div class="over">
    	<!-- <div class="over"  style="vertical-align:middle" onclick="myFunction()"> -->
    		<h4 class="lead" >iDo - to do list manager</h4><a href="javascript:void(0)" link="iDo-intro.html"></a>
            </div>
    </div>
    
	<div class="portfolio" id="extension">
    	<div class="over">
    		<h4 class="lead">Chrome extension: Tieba signup tool</h4><a href="javascript:void(0)" link="baidu-extension.html"></a>
            </div>
    </div>
    
    <div class="portfolio" id="ninjaJump">
    	<div class="over">
    		<h4 class="lead">NinjaJump - a party iPad game</h4><a href="javascript:void(0)" link="NinjaJump.html"></a>
            </div>
    </div>
    
    <div class="portfolio" id="busGuide">
    	<div class="over">
    		<h4 class="lead">Bus Guide: a GUI project</h4><a href="javascript:void(0)" link="bus-guide.html"></a>
            </div>
    </div>
</div>
</div><!--end of #content-->


<div id="footer">
            <p class="text-muted credit">wangycbeyond@gmail.com</p>
</div>

    <script src="libs/jQuery/jquery-2.1.1.js"></script>
    <script src="libs/Bootstrap/js/bootstrap.min.js"></script>
    <script src="libs/Angular/angular.min.js"></script>
    <script src="js/custom.js"></script>


</body>

</html>