<div class="row">
	<div class="col-xs-6 col-sm-6  col-md-6 col-lg-6">
		<h3>Tieba helper</h3>
		<br/>
		<strong>Intro</strong>
		<p>
			Tieba helper is a Chrome extension developed for Baidu Tiebai users' convenience. You can auto-signup in just one click.
		</p>
		<br/>
		<strong>Features</strong>
		<p>
			Still have some parts left to improve.
		</p>
		<br/>
		<strong>Management</strong>
		<p>
			Development and deployment
		</p>
	</div>
	<div class="col-xs-6 col-sm-6  col-md-6 col-lg-6">
		<img src="image/extension.jpg" /></img>
	</div>
</div>