<div class="row">
	<div class="col-xs-6 col-sm-6  col-md-6 col-lg-6">
		<h3>iDo task manager</h3>
		<br/>
		<strong>Intro</strong>
		<p>
		iDo is absolutely a well-designed to do list manager application that saves much your time in daily routine arrangement.
		</p>
		<br/>
		<strong>Features</strong>
		<p>
		Simultaneously updated feedback to user input and input line syntax highlighting
		</p>
		<br/>
		<strong>Management</strong>
		<p>
		GUI improvement and data storage implementation
		</p>
	</div>
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
		<img src="image/iDo_GUI.jpg" alt="image/iDo_GUI.jpg" /></img>
	</div>
</div>
