<div class="row">
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
		<h3>NUS Bus Guide</h3>
		<br/>
		<strong>Intro</strong>
		<p>
			This is a GUI project which offers the functionality to maintain a bus system server updated by administrators and queried by customers.
		</p>
		<br/>
		<strong>Features</strong>
		<p>
			Simultaneously update the bus information, including the crowdness and remaining time to next bus stop. Meanwhile, bus pins on the campus map will move correspondingly.
		</p>
		<br/>
		<strong>Management</strong>
		<p>
			Taking charge of the front end and the connection to the server side.
		</p>
	</div>
	<div class="col-xs-6 col-sm-6  col-md-6 col-lg-6">
		<img src="image/bus_guide.jpg" /></img>
	</div>
</div>