<div class="row">
	<div class="col-md-6 colr-lg-6">
		<h3>NinjaJump</h3>
		<br/>
		<strong>Intro</strong>
		<p>
			NinjaJump is a party game on iOS platform. At most four players can compete on the same device.
		</p>
		<br/>
		<strong>Features</strong>
		<p>
			This is a ninja-theme game. Shurikens and scrolls offer much visual aids in ninjas' combats. Besides, jump is the only way to move for your ninja. Thus jump in the right direction at right time is vital.
		</p>
		<br/>
		<strong>Management</strong>
		<p>
			GUI design and art work
		</p>
	</div>
	<div class="col-md-6 colr-lg-6">
		<img src="image/ninjaJump.jpg" /></img>
	</div>
</div>
